 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 * {
     box-sizing: border-box;
 }

 html,
 body {
     overflow: hidden;
     /* Hide both horizontal and vertical scrollbars and disable scrolling */
     height: 100%;
     /* Ensure the body and html take the full height */
     margin: 0;
     /* Remove default margins */
 }

 /* Button used to open the contact form - fixed at the bottom of the page */
 .open-button_UmarB {
     background-color: #555;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     opacity: 0.8;
     position: fixed;
     bottom: 23px;
     right: 28px;
     width: 280px;
 }


 /* Add styles to the form container */
 .form-container_UmarB {
     max-width: 300px;
     padding: 10px;
     background-color: white;
 }

 /* Full-width input fields */
 .form-container_UmarB input,
 .form-container_UmarB select {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     border: none;
     background: #f1f1f1;
 }

 /* When the inputs get focus, do something */
 .form-container_UmarB input:focus,
 .form-container_UmarB select:focus {
     background-color: #ddd;
     outline: none;
 }

 /* Set a style for the submit/login button */
 .form-container_UmarB .btn_UmarB {
     background-color: #04AA6D;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom: 10px;
     opacity: 0.8;
 }

 /* Add a red background color to the cancel button */
 .form-container_UmarB .cancel_UmarB {
     background-color: red;
 }

 /* Add some hover effects to buttons */
 .form-container_UmarB .btn_UmarB:hover,
 .open-button_UmarB:hover {
     opacity: 1;
 }

 .close-button_UmarB {
     background: #fd8686;
     border: 0;
     color: white;
     border-radius: 5px 6px 5px 5px;
     padding: 5px 10px 10px 10px;
     position: absolute;
     margin: -47px 29px 20px 59px;
     height: 28px;
 }